# This workflow  do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  compile:

    runs-on: Agent-1

    steps:
     - name: checkout repo
       uses: actions/checkout@v4
     - name: Use Node.js
       uses: actions/setup-node@v4
       with:
        node-version: '23'

     - name: frontend syntax check
       run: |
         cd client
         find . -name "*.js" -exec node --check {} +


     - name: backend syntax check
       run: |
          cd api    
          find . -name "*.js" -exec node --check {} +
          
  gitleaks_scan:
       runs-on: Agent-1
       needs: compile
       steps: 
         - name: checkout repo
           uses: actions/checkout@v4
         - name: git leaks set up
           uses: gitleaks/gitleaks/action@v2.3.4
         - name: gitleak scan
           run: |
             gitleaks detect --source ./client --exit-code 1
             gitleaks detect --source ./api --exit-code 1
           
          
      
